fastapi
uvicorn
python-multipart
google-genai
google-cloud-vision
google-api-python-client
google-auth
PyMuPDF
psycopg2-binary
authlib
python-dotenv
requests
itsdangerous
httpx
beautifulsoup4
pydantic
pypdf
gdown
pytz
psycopg2-binary